# Ignore Node modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore build folders
dist/
client/dist/

# Ignore environment variable files
.env
*/.env

# Optional: OS/System-specific files
.DS_Store
Thumbs.db
